<h1>new page</h1>

<form action="/blogs" method="POST">
    <input type="text" name="blog[titre]" placeholder="titre">
    <input type="text" name="blog[contenu]" placeholder="contenu">
    <input type="submit" value="submit">
</form>