.img-thumbnail img{
    width: 100%;
}
.img-thumbnail{
    padding: 0;
}
.img-thumbnail .caption-full{
    padding: 9px;
}
.delete-form{
    display: inline;
}
#campgrounds-image{
    height: 15em;
}
#user-image{
    width: 28px;
    height: 28px;
}