.campgraoundSlider img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
 .campgraoundSlider .campgroundSliderContainer {
    position: relative;
  }
  
  /* Hide the images by default */
  .campgraoundSlider  .campgroundSliderMySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .campgraoundSlider  .campgroundSliderCursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .campgraoundSlider  .campgroundSliderPrev,
  .campgraoundSlider .campgroundSliderNext {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .campgraoundSlider  .campgroundSliderNext {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .campgraoundSlider  .campgroundSliderPrev:hover,
  .campgraoundSlider .campgroundSliderNext:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .campgraoundSlider .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .campgraoundSlider .campgroundSliderCaption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .campgraoundSlider .campgroundSliderRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .campgraoundSlider .campgroundSliderColumn {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .campgraoundSlider .campgroundSliderDemo {
    opacity: 0.6;
  }
  
  .campgraoundSlider .campgroundSliderActive,
  .campgraoundSlider .campgroundSliderDemo:hover {
    opacity: 1;
  }