
.productShow .container {
    background: #fff !important;
    border: none;
    border-radius: none
}

.productShow .abc {
    padding-left: 40px
}

.productShow .pqr {
    padding-right: 70px;
    padding-top: 14px
}

.productShow .para {
    float: right;
    margin-right: 0;
    padding-left: 80%;
    top: 0
}

.productShow .fa-star {
    color: yellow
}

.productShow li {
    list-style: none;
    line-height: 50px;
    color: #000
}

.productShow .col-md-2 {
    padding-bottom: 20px;
    font-weight: bold
}

.productShow .col-md-2 a {
    text-decoration: none;
    color: #000
}

.productShow .col-md-2.mio {
    font-size: 12px;
    padding-top: 7px
}

.productShow .des::after {
    content: '.';
    font-size: 0;
    display: block;
    border-radius: 20px;
    height: 6px;
    width: 55%;
    background: yellow;
    margin: 14px 0
}

.productShow .r4 {
    padding-left: 25px
}

.productShow .btn-outline-warning {
    border-radius: 0;
    border: 2px solid yellow;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 70%
}

@media screen and (max-width: 620px) {
    .productShow .container {
        width: 98%;
        display: flex;
        flex-flow: column;
        text-align: center
    }

    .productShow .des::after {
        content: '.';
        font-size: 0;
        display: block;
        border-radius: 20px;
        height: 6px;
        width: 35%;
        background: yellow;
        margin: 10px auto
    }

    .productShow .pqr {
        text-align: center;
        margin: 0 30px
    }

    .productShow .para {
        text-align: center;
        padding-left: 90px;
        padding-top: 10px
    }

    .productShow .klo {
        display: flex;
        text-align: center;
        margin: 0 auto;
        margin-right: 40px
    }
}